DSAA5022_final_report.aux
node_modules
yarn.lock
package.json
comment.cut
DSAA5022_final_report.bbl
DSAA5022_final_report.blg
DSAA5022_final_report.fdb_latexmk
DSAA5022_final_report.fls
DSAA5022_final_report.log
DSAA5022_final_report.out
DSAA5022_final_report.synctex.gz
